h1{
    color: white;
    background-color: black;
    text-align: center;
    line-height: 60px;
    height: 60px;
    margin: 0px;
}
.sol-hisse{
    float: left;
    margin-left: 30px;
    display: inline;
    margin-top: 50px;
}
.paragraf{
    margin-top: 120px;
    float: left;
    margin-left: 10px;
   
   
}  

div.sol-hisse img{
    width: 200px;
    height: 200px;
    margin-top: 10px;
    
}
.contact{
    float: right;
    margin-top: 50px;
    margin-right: 50px;
}
body{
    background-color: cornsilk;
}
a{
    color: red;
    text-decoration: none;
}